
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
NEXT_PUBLIC_RAZORPAY_KEY_ID=your_razorpay_key_id
NEXT_PUBLIC_SUPABASE_URL=https://yvewbenfqcdqhvwzvidv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl2ZXdiZW5mcWNkcWh2d3p2aWR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NTk5ODEsImV4cCI6MjA4OTMzNTk4MX0.h2jDUp-_7X-pDXIQbI8VTOSEOHVqqokc7T3LZ2Yx3ic
GEMINI_API_KEY=AIzaSyAN3Kb_3QTo5m-3iNsYE0BiEmGqCA2eyKQ
